/.idea/
.DS_Store
/.DS_Store
/.vscode/
/.cache/
/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
Thumbs.db
ehthumbs.db
*.swp
*.swo
.pytest_cache/
.mypy_cache/
/.DS_Store?
.coverage
.env
.venv/
env/
venv/
build/
dist/
__pycache__/
.ipynb_checkpoints/

